.card.product-card {
    padding: 0 !important;
  }
  
  .add-to-cart {
    text-transform: uppercase;
  }
  
  .product-price {
    display: flex;
    justify-content: space-between;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #9397aa !important;
  }
  
  .old-price,
  .final-price {
    font-size: var(--product-card-font-size);
  }
  
  .add-to-cart {
    background-color: var(--main-color);
    transition: background-color 0.3s;
    color: white;
    width: 80%;
  }
  
  .add-to-cart:hover {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .product-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card-footer .wishlist-icon {
    cursor: pointer;
  }
  