.not-found-page {
  display: flex;
  width: 100%;
  height: auto;
  /* padding-bottom: 40px; */
  justify-content: space-around;
}
@media screen and (max-width: 780px) {
    .not-found-page  {
        display: block;
    }
  }