.card.product-card {
  padding: 0 !important;
}

.card.product-card .add-to-cart {
  text-transform: uppercase;
}

.card.product-card .product-price {
  display: flex;
  justify-content: space-between;
}

.card.product-card .old-price {
  text-decoration: line-through;
  color: #9397aa !important;
}

.card.product-card .old-price,
.card.product-card .final-price {
  font-size: var(--product-card-font-size);
}

.add-to-cart {
  background-color: var(--main-color);
  transition: background-color 0.3s;
  color: white;
  width: 80%;
}

.add-to-cart:hover {
  background-color: var(--secondary-color);
  color: white;
}

.product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-footer .wishlist-icon {
  cursor: pointer;
}
